<h1>Editing Campaign</h1>

<%= render 'form', campaign: @campaign, sizes: @sizes, products: @products, spaces: @spaces %>

<%= link_to 'Show', @campaign %> |
<%= link_to 'Back', campaigns_path %> |
<%= link_to "Manage spaces", space_selector_path %>
